<%= form_tag :action => 'add', :method => 'post' do %>
    <input type="text" name='product' id='product'>
    <%= submit_tag 'add to cart' %>
<% end %>

<% cart.each do |product| %>
    <li><%= product %></li>
<% end %>